/* Terms & Privacy */
a {
  color: #4caf50;
}
a:hover,
a:focus {
  color: #4caf50;
  text-decoration: none;
}
a:focus,
a:active {
  outline: 0;
}
body {
  margin: 30px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
p,
ol,
ul {
  font-size: 15px;
}
table {
  border-color: black;
  border-style: solid;
  border-width: thin;
  width: 100%;
}
th,
td {
  border-color: black;
  border-style: solid;
  border-width: thin;
  padding: 5px;
  vertical-align: top;
}
footer div {
  display: inline-block;
}
