/* Terms & Privacy */
body {
  /* font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif; */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #344767;
  font-size: 14px;
}
a {
  color: #54af50;
  text-decoration: none;
}
/* a:hover,
a:focus {
  color: #489450;
} */
a:focus,
a:active {
  outline: 0;
}
body {
  margin: 30px;
}
h1 {
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-size: 16px;
  font-weight: bold;
}
/* p,
ol,
ul {
  font-size: 15px;
} */
table {
  border-color: black;
  border-style: solid;
  border-width: thin;
  width: 100%;
}
th,
td {
  border-color: black;
  border-style: solid;
  border-width: thin;
  padding: 5px;
  vertical-align: top;
}
footer div {
  display: inline-block;
}
